<!-- templates/otp_verify.html -->
{% extends "dashboard.html" %}
{% load static %}
{% block title %}Verify OTP{% endblock %}

{% block content %}
<div class="aga-card">
    <h2 style="color: var(--primary-color); margin-bottom: 1.5rem;">OTP Verification</h2>
    
    <form id="verify_form" method="post" action="{% url 'users-otp_verify' %}">

        {% csrf_token %}
        <!-- Hidden inputs for server values -->
        <input type="hidden" name="serial_no" value="{{ user.serial_no }}">
        <input type="hidden" name="phone_number" value="{{ user.phone }}">

        <i style="color: #dc3545; font-weight: 900;">{{ error }}</i>

        <i style="color: #dc3545; font-weight: 900;">{{ message }}</i>

        <!-- Input for users -->
        <label for="otp">Your {{user.serial_no}} One Time Password (OTP) has be sent on {{user.phone}}</label>
        {% csrf_token %}
        <input type="text" name="otp" class="form-control" 
               placeholder="Enter 6-digit OTP" pattern="\d{6}" required>
        
        {% if error %}
        <div style="color: #dc3545; margin-bottom: 1rem;">{{ error }}</div>
        {% endif %}
        
        <button type="submit" class="btn btn-primary w-46">Verify OTP</button>
    </form>
    
    <div style="margin-top: 1rem; text-align: center;" >
        <button style="color: var(--primary-color); text-decoration: none; color: azure;" id="resend_otp" class="btn btn-secondary w-46">
            Resend OTP
        </button>
    </div>
</div>
<script>

    // Get CSRF token function
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    // Add JavaScript to handle form submission and branch loading
    document.getElementById('verify_form').addEventListener('submit', async (e) => {
        e.preventDefault();
        
        const formData = {
            user: "{{ user.serial_no|escapejs }}",
            otp: e.target.otp.value,
            verified: true,
            created_at: "{{ user.last_login|escapejs}}",
        };

        try {
            const response = await fetch("{% url 'users-otp_verify' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken'),
                },
                body: JSON.stringify(formData)
            });

            if (response.ok) {
                window.location.href = "{% url 'users-home' %}";
            } else {
                const errorData = await response.json();
                alert(`Error: ${errorData.detail || 'Unknown error'}`);
            }
        } catch (error) {
            console.error('Error:', error);
            alert('An error occurred during registration');
        }
    });


    // resending otp
    document.getElementById('resend_otp').addEventListener('click', async (e) => {
        e.preventDefault();
        
        const formData = {
            user: "{{ user.serial_no|escapejs }}",
            phone_number: "{{ user.phone|escapejs }}",
        };

        try {
            const response = await fetch("{% url 'users-resend_otp' %}", {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': getCookie('csrftoken'),
                },
                body: JSON.stringify(formData)
            });

            if (response.ok) {
                window.location.href = "{% url 'users-otp_verify' %}";
            } else {
                const errorData = await response.json();
                alert(`Error: ${errorData.detail || 'Unknown error'}`);
            }
        } catch (error) {
            console.error('Error:', error);
            alert('An error occurred during registration');
        }
    });
</script>
{% endblock %}